*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 80px;
    background-image: url('leaves bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.cot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;background: transparent;
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
}

.head{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
    padding: 20px;
    color: white;
}


.ultracot{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.but{
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow:inset 0 8px 32px 0 rgb(6, 14, 7);
    color: white;
    cursor: pointer;
    
}

.in{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow:inset 0 8px 32px 0 rgb(6, 14, 7);
    color: white;
}

p{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow:inset 0 8px 32px 0 rgb(6, 14, 7);
    color: white;
}