@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 80px;
    background-image: url('leaves bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.txtcot{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.butncot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: transparent;
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
    padding: 20px;
}

.btn{
    padding: 15px 30px;
    font-size: 18px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.txtcot{
    color: white;
    font-size: 24px;
    background: transparent;
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
    padding: 20px;
}

.head{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
    border-radius: 20px;
    padding: 20px;

}

#text{
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(198, 199, 211, 0.18);
    box-shadow: 0 8px 32px 0 rgb(6, 14, 7);
}